body,
#root {
  margin: 0;
  padding: 0;
}



* {
  font-family: 'Open Sans' !important;
  scroll-behavior: smooth !important;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/static/OpenSans-Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/static/OpenSans-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/static/OpenSans-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/static/OpenSans-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/static/OpenSans-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/static/OpenSans-ExtraBold.ttf');
  font-weight: 800;
  font-display: swap;
}